<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <meta name="description" content="A cool thing made with HyperDev">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <h1>Welcome to b/<%= name %>/</h1>
    </header>
    <div id='submitNewThread'>
      <h3>Submit a new thread:</h3>
      <form  method="post" action="/api/threads/<%=name%>">
        <textarea rows="4" cols="120" type='text' placeholder='Thread text...' name='text' required=''></textarea>
        <br>
        <input type="hidden" name="board" value="<%=name%>">
        <input type='text' placeholder='password to delete' name='password' required=''><br>
        <input type="submit"> 
      </form>
    </div>
    <h1>Threads of this Board</h1>
    <% for (let thread of listOfThreads){ %>
        <div>
        <hr >
        <p><%= thread.text  %> - <%= thread._id %> - <%= thread.updatedAt.toString() %></p>
        <form action="http://localhost:8080/api/threads/<%=name%>?_method=PUT" method="post" >
          <input type="hidden" name="board" value="<%=name%>">
          <input type="hidden" name="idThread" value="<%=thread._id.toString()%>">
          <button type="submit">Report</button>
        </form>
        <form action="http://localhost:8080/api/threads/<%=name%>?_method=DELETE" method="post" >
          <input type="hidden" name="board" value="<%=name%>">
          <input type="hidden" name="idThread" value="<%=thread._id.toString()%>">
          <input type='text' placeholder='password to delete' name='password' required=''><button type="submit">Delete</button>
        </form>
        </div>
        <div class="ml-40">
          <h3>Submit a new Reply</h3>
          <form  method="post" action="/api/replies/<%=name%>">
            <textarea rows="2" cols="80" type='text' placeholder='Reply text...' name='text' required=''></textarea>
            <br>
            <input type="hidden" name="board" value="<%=name%>">
            <input type="hidden" name="idThread" value="<%=thread._id%>">
            <input type='text' placeholder='password to delete' name='password' required=''><br>
            <input type="submit"> 
          </form>
          <h2>Reply of this Thread</h2>
        </div>
        <% for (let reply of thread.listOfReplies){ %>
          <div class = "ml-52">
          <hr >
          <p><%= reply.text  %> - <%= reply._id %> </p>
          <form action="http://localhost:8080/api/replies/<%=name%>?_method=PUT" method="post" >
            <input type="hidden" name="board" value="<%=name%>">
            <input type="hidden" name="idThread" value="<%=thread._id.toString()%>">
            <input type="hidden" name="idReply" value="<%=reply._id.toString()%>">
            <button type="submit">Report</button>
          </form>
          <form action="http://localhost:8080/api/replies/<%=name%>?_method=DELETE" method="post" >
            <input type="hidden" name="board" value="<%=name%>">
            <input type="hidden" name="idThread" value="<%=thread._id.toString()%>">
            <input type="hidden" name="idReply" value="<%=reply._id.toString()%>">
            <input type='text' placeholder='password to delete' name='password' required=''><button type="submit">Delete</button>
          </form>
          </div>
      <% } %>
    <% } %>
    <hr >
          <a href="http://localhost:8080/">Home page</a>
    </body>
</html>
